body{
    padding: 0;
    margin:0;
    background-image: url("images/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
     
}

table{
    border-style: solid;
    border-width: 6px;
    border-color: #3E2723;
    width: 50%;
    margin: auto;
    margin-bottom: 9rem;
    margin-top: 3rem;
}
td {
    padding: 15px;
    background-color: cornflowerblue;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

td:hover{
    background: blue;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center; 
}

@media only screen and (min-width: 200px){
    td{
        padding: 7px;
    }
}

@media only screen and (min-width: 500px){
    td{
        padding: 10px;
    }
}

@media only screen and (min-width: 720px){
    td{
        padding: 20px;
    }
}


#options{
    border: #3E2723 solid 0.4rem;
    padding: 2rem;
    background: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 6rem;
    right: 6rem;
    z-index: 2;
}


#numFils {
    width: 2.5rem;
}
#numCols {
    width: 2.5rem;
}
#filDest{
    width: 2.5rem;
}
#colDest{
    width: 2.5rem;
}
#probPirate{
    width: 2.5rem;
}
#destination {
    background-color: red;
    background-image: url("images/tesoro.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center; 
}

.block {
    background-image: url("images/mina.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center; 
}

#calcDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pirate{
    background-image: url("images/pirata.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center; 
}

.wind{
    background-image: url("images/wind.png");
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center; 
}

.path{
    background-image: url("images/boat.png");
    background-attachment: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
}

#radios {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wind.path {
    background-color: yellow;
    background-image: url("images/boat.png");
    background-attachment: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
}