
table{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

td {
    padding: 15px;
    background-color: grey;
}

#numFils {
    width: 3px;
}
#numCols {
    width: 3rem;
}
#filDest{
    width: 3rem;
}
#colDest{
    width: 3rem;
}